.search-page-container {
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -10rem;
}

.search-hike-container {
  width: 95%;
}

.row {
  width: 100%;
}
.jumbo-text {
  background-color: white;
  width: 80%;
}

.text-light {
  background-image: url("../images/mountain-top.jpg");
  background-size: cover;
  max-height: fit-content;
}
