.landing-page-container {
  color: #000;
  padding: 0 !important;
  border-radius: 0 !important;
  background-image: url("../images/mother-kid-hike.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  max-width: 100% !important;
  min-height: 100vh;
}

.row {
  max-width: 100% !important;
}

.jumbo-text-box {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2rem;
  text-align: center;
}

h2 {
  font-weight: bolder;
}

.message {
  font-weight: bolder;
}

.app-title {
  font-size: 2.5rem;
}

.button {
  font-weight: bolder;
}
