.color-nav {
  background-color: white;
}

.nav-link:hover {
  color: blue;
}

.nav-link {
  font-weight: bold;

  Link:hover {
    color: blue;
  }
}

// need to do some more styling in here once we get the page rendered and visible
