.register-container {
  color: #000;
  padding: 0 !important;
  border-radius: 0 !important;
  background-image: url("../images/forest-trail.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  max-width: 100% !important;
  min-height: 100vh;
  justify-content: center;
}
.form-container {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-radius: 2rem;
  width: 50%;
}

.signup-title {
  font-weight: bolder;
  font-size: 4rem;
  color: #fff8ed;
}

.form-label {
  color: #fff8ed;
  font-weight: bolder;
}

@media (max-width: 900px) {
  .signup-title {
    font-weight: bolder;
    font-size: 3.5rem;
  }
}
