Footer {
  background-color: white !important;

  // unvisited link
  a {
    color: #666;
    text-decoration: none;
  }

  // hover over link
  a:hover {
    color: blue;
    text-decoration: none;
  }

  // // active link
  // a:active {
  //   color: royalblue;
  //   text-decoration: none;
  // }

  .copyright {
    background-color: white !important;
  }
}

// will need to come back and look at styling when page is rendered and visible
